.idea
.gradle
.nb-gradle
dist
build
lib
impressao
imagens_produtos
logos_empresas
nbproject
out
/target/
/GerenciadorDeVendas/.nb-gradle/
.gradle/
mysql\
mysql/MySQLServer8.0.13/Data/#innodb_temp/temp_1.ibt
